.background_poster {
    width: 100%;
}

.background_posture {
    width: 100%;
}

.movie_info {
    margin-left: 10%;
}

.movie_content {
    width: 50%;
    display: flex;
    background-color: rgba(229, 9, 20, 0.8);
    ;
    transform: translateY(-64%);
    margin: auto;
    justify-content: space-between;
}